@charset "utf-8";
@import "../components/common.scss";

.edit-task {
  width: 1000px;
  margin: 0 auto;
}
.edit-task h2 {
  padding: 0.25em 0.5em;
  color: $black;
  border-left: solid 5px $title_bgcolor;
  background-color: rgb(217, 237, 237);
  margin-bottom: 20px;
}

.edit-task-form {
  color: $text;
}

.edit-task-title,
.edit-task-detail,
.edit-task-limit {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: $attention_color;
  border: solid 1px $attention_color;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: $bgcolor;
  color: $white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $attention_color;
}
