@charset "utf-8";
@import "../components/common.scss";

.edit-list {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;

  .edit-list h2 {
    padding: 0.25em 0.5em;
    color: $black;
    border-left: solid 5px $title_bgcolor;
    background-color: rgb(217, 237, 237);
    margin-bottom: 20px;
  }

  &__form {
    color: $text;

    .edit-list-title {
      width: 300px;
      margin-bottom: 25px;
    }

    .delete-list-button {
      color: $attention_color;
      border: solid 1px $attention_color;
      width: 80px;
      height: 40px;
      margin: 25px 5px;
      border-radius: 5px;
    }

    .edit-list-button {
      background-color: $bgcolor;
      color: $white;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
