@charset "utf-8";
@import "../components/common.scss";

.new-task h2 {
  padding: 0.25em 0.5em;
  color: $black;
  border-left: solid 5px $title_bgcolor;
  background-color: rgb(217, 237, 237);
  margin-bottom: 20px;
}

.new-task {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.new-task-form {
  color: $text;

  .new-task-select-list,
  .new-task-title,
  .new-task-detail,
  .new-task-limit {
    width: 300px;
    margin-bottom: 25px;
  }
  .new-task-detail {
    height: 200px;
  }

  .new-task-button {
    background-color: $bgcolor;
    color: $white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}
.error-message {
  color: $attention_color;
}

@media (max-width: 320px) {
  .new-task {
    width: 250px;
  }
  .new-task-form {
    .new-task-select-list,
    .new-task-title,
    .new-task-detail,
    .new-task-limit {
      width: 250px;
    }
  }
}
