@charset "utf-8";
@import "../components/common.scss";

.signin {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .signin {
    width: 300px;
    margin: 0 auto;
  }
}
.signin-form {
  margin: 25px 0;

  .email-label,
  .password-label {
    color: $text;
  }

  .email-input,
  .password-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

  .signin-button {
    background-color: $bgcolor;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}
.error-message {
  color: $attention_color;
}
