@charset "utf-8";
@import "./common.scss";

.header {
  width: 100%;
  height: 80px;
  background-color: $bgcolor;
  color: $white;
  display: flex;
  justify-content: space-between;
}
.sign-out-button {
  color: $white;
  margin: auto 25px auto auto;
}

.headder button,
h1 {
  color: $white;
  margin: auto 25px auto auto;
  width: 100%;
}

@media (max-width: 768px) and (min-width: 319px) {
  .header {
    // background-color: burlywood;
  }
}

@media (max-width: 320px) {
  .header {
    // background-color: blueviolet;
  }
  .header h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
  }
  .header button,
  h1 {
    margin: 0 auto;
  }
  .sign-out-button {
    margin: 0;
  }
}
